{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb"
  ],
  "rules": {
    "react/require-default-props": "off",
    "object-curly-newline": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "max-len": ["error", { "code": 111 }]
  }
}