{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "indent": ["error", 2],
    "max-len": ["error", { "code": 120 }],
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 8 }]
  },
  "overrides": [{
    "files": [ "*.test.jsx" ],
    "rules": {
      "react/jsx-props-no-spreading": "off"
    }
  }]
}